#title {

	height:50%;
	background-color: #A3C89B;
}

#title h1{

	text-align: left; padding: 5% 5% 0 5%;
	font-size:100;
	color: white; margin:0;
}

#title h3{
	text-align: left; padding: 0 0 0 5%; font-size:25; color: white; margin:0;
}

#title h4{
	text-align: left; padding: 30 0 0 5%; font-size:14; margin:0;

}



#infobar {
	height:50%; background-color: #FDD7E4;
}
#upper{
	text-align: left;
	display:block;
	justify-content: space-around;
	padding: 5% 5% 0 5%;
	font-size: 30;
	color: #8F5834
}

#infobar h1{
	color: #8F5834;
}
#left{
	padding: 0 100 0 0;
}

#info{

	padding: 0 0 0 190;
}

#c{
	display: block;
	margin: auto;
	position: absolute;
}

#scores{
	display: block;
	margin: auto;
	text-align: left;
	padding-left: 300px;
}

#score2{

	padding: 0 255 0 0;
}
#score3{

	padding: 0 255 0 0;
}
